<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CareVoiceSuite" parallel="methods" thread-count="1"
       data-provider-thread-count="1"  verbose="2">

    <!--  parallel="methods" -->

    <test name="CareVoice_Login">
        <classes>
<!--            <class name="webui.baseClass">-->
<!--                <methods>-->
<!--                    <include name="aaa"></include>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="webui.uiTest">
                <methods>
                    <include name="topMenuTest"></include>
                    <include name="searchRelatedTest"></include>
                </methods>
            </class>
        </classes>

    </test>


</suite>
